<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<link rel="stylesheet" href="./styles/style.css">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Add new Auther</title>
</head>

<body>

	<div class="container right-panel-active" style="height:500px;">
		<!-- Add New Author -->
		<div class="container__form container--signup">
			<form action="/users" class="form" id="form1" method="post">
				<h2 class="form__title">Add New Author</h2>
				<input type="text" placeholder="Username" class="input" name="username" />
				<input type="text" placeholder="Email" class="input" name="email" />
				<input type="number" placeholder="Age" class="input" name="age" />
				<input type="password" placeholder="Password" class="input" name="password" />
				<select class="input" name="role" style="width: 311.8px;">
					<option>Role</option>
					<option value="admin">Admin</option>
					<option value="editor">Editor</option>
					<option value="user">User</option>
				</select>
				<button class="btn">ADD</button>
			</form>
		</div>

		<!-- Show all -->
		<div class="container__form container--signin">
			<form action="/users/" class="form" id="form2" method="get">
				<table>
					<thead>
						<tr>
							<td>id</td>
							<td>name</td>
							<td>email</td>
							<td>age</td>
							<td>role</td>
						</tr>
					</thead>
					<!-- <tbody>
						<% users.forEach(user=> { %>
							<tr>
								<td>
									<%= user.id %>
								</td>
								<td>
									<%= user.name %>
								</td>
								<td>
									<%= user.email %>
								</td>
								<td>
									<%= user.age %>
								</td>
								<td>
									<%= user.role %>
								</td>
							</tr>
							<% }) %>
					</tbody> -->
				</table>
			</form>
		</div>

		<!-- Overlay -->
		<div class="container__overlay">
			<div class="overlay">
				<div class="overlay__panel overlay--left">
					<button class="btn" id="signIn">Show All</button>
				</div>
				<div class="overlay__panel overlay--right">
					<button class="btn" id="signUp">Add New</button>
				</div>
			</div>
		</div>
	</div>

	<script>
		const signInBtn = document.getElementById("signIn");
		const signUpBtn = document.getElementById("signUp");
		const fistForm = document.getElementById("form1");
		const secondForm = document.getElementById("form2");
		const container = document.querySelector(".container");

		signInBtn.addEventListener("click", () => {
			container.classList.remove("right-panel-active");
		});

		signUpBtn.addEventListener("click", () => {
			container.classList.add("right-panel-active");
		});

		// fistForm.addEventListener("submit", (e) => e.preventDefault());
		// secondForm.addEventListener("submit", (e) => e.preventDefault());

	</script>
</body>

</html>